<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447585811031-pgkislhfec37ql939arsp3ncrpri4iai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447585811031-pgkislhfec37ql939arsp3ncrpri4iai</string>
	<key>API_KEY</key>
	<string>AIzaSyCFccirrBUUiefoMINrJHnrnlo2iKU2THE</string>
	<key>GCM_SENDER_ID</key>
	<string>447585811031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koo.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-app-4947a</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-app-4947a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447585811031:ios:e5f7c120a4ce6f94ee0112</string>
</dict>
</plist>